p {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    direction: ltr;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 70px;
    text-align: center;
    /* text-decoration: underline; */
    text-indent: 50px;
    text-shadow: 1px 2px 2px red;
    text-transform: capitalize;

}